<%= form_for(@ticket, :validate => true) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.prohibited", :errors => pluralize(@ticket.errors.count, "error"), :object => "ticket") %></h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ticket-wrapper">
    <div class="with-author">
      <%= render :partial => "shared/user", :object => current_user %>

      <div class="ticket box">
        <div class="highlight headline top">
          <div class="field title">
            <%= f.text_field :title %>
          </div>
        </div>
        <div class="details">
          <div class="fleft half">
            <div class="field date">
              <%= f.label :due_date %>
              <%= f.text_field :due_date %>
            </div>
            <div class="field">
              <%= f.label :project %>
              <%= f.collection_select :project_id, Project.all, :id, :name, :prompt => t("form.prompt") %>
            </div>
          </div>

          <div class="fleft half">
            <div class="field">
              <%= f.label :ticket_type %>
              <%= f.collection_select :ticket_type_id, TicketType.all, :id, :name, :prompt => t("form.prompt") %>
            </div>
            <div class="field">
              <%= f.label :event, "State:" %>
              <%= collection_select "actions", :event, @ticket.available_transitions, :last, :first %>
            </div>
          </div>
          <div class="fleft half">
            <div class="field">
              <%= f.label :story_points %>
              <%= f.text_field :story_points %>
            </div>
          </div>

          <br style="clear: left;" />
        </div>

        <div class="body">
          <p class="note"><%= t("markup_enabled") %></p>
          <div class="field description">
            <%= f.text_area :description %>
          </div>
        </div>
        <div class="highlight bottom">
          <div class="actions">
            <%= f.submit %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
