<% content_for :sidebar do %>
  <h2>Sidebar</h2>
<% end %>

<%= link_to t("tickets.list_view"), tickets_path %>

<% if @tickets.empty? %>
  <p><%= t("tickets.none") %></p>
<% else %>
  <p><%= t("tickets.found", :tickets => pluralize(@tickets.count, "ticket"), :projects => link_to(t("projects.all"), projects_path)).html_safe %></p>
  <div class="tickets">
    <% @tickets.each do |ticket| %>
      <div class="ticket <%= ticket.ticket_type.name.downcase %>" data-id="<%= ticket.id %>">
        <span class="id"><%= link_to "#{ticket.project.abbreviation}-#{ticket.id}", ticket_path(ticket) %></span>
        <span class="title"><%= link_to ticket.title, ticket_path(ticket) %></span>
      </div>
    <% end %>
  </div>
<% end %>
