<% content_for :sidebar do %>
  <h2>Sidebar</h2>
<% end %>

<%= link_to 'New Ticket', new_ticket_path, :class => "button" %>
<br />

<div id="tickets">
<% @tickets.each do |ticket| %>
  <div class="ticket" data-id="<%= ticket.id %>">
    <div class="header">
      <span class="id"><%= link_to "#{ticket.project.abbreviation}-#{ticket.id}", edit_ticket_path(ticket) %></span>
      <span class="title"><%= link_to ticket.title, edit_ticket_path(ticket) %></span>
      <span class="description"><%= textile_to_html(trim(ticket.description, 3)) %></span>
    </div>
    <div class="tags">
      <%= due_tag(ticket.due_date) if ticket.due_date %>
      <%= type_tag(ticket.ticket_type) if ticket.ticket_type %>
      <%= state_tag(ticket) %>

      <br style="clear: left;" />
    </div>
  </div>
<% end %>

<% if @tickets.empty? %>
  <p>Congratulations, you don't have any bugs.</p>
<% end %>

</div>
