<% content_for :sidebar do %>
  <h2>Sidebar</h2>
<% end %>



<div id="tickets">
  <p><%= @tickets.count %> tickets found for <%= link_to "all projects", projects_path %>:</p>
  <br />
<% @tickets.each do |ticket| %>
  <div class="ticket" data-id="<%= ticket.id %>">
    <div class="header">
      <span class="id"><%= link_to "#{ticket.project.abbreviation}-#{ticket.id}", ticket_path(ticket) %></span>
      <span class="title"><%= link_to ticket.title, ticket_path(ticket) %></span>
      <span class="description"><%= textile_to_html(trim(ticket.description, 3)) %></span>
    </div>

    <%= render :partial => "tags", :locals => { :ticket => ticket } %>
  </div>
<% end %>

<% if @tickets.empty? %>
  <p>Congratulations, you don't have any bugs.</p>
<% end %>

</div>
