<div class="ticket-wrapper">
  <div class="with-author">
    <%= render :partial => "shared/user", :object => @ticket.user %>

    <div class="ticket show box">
      <div class="highlight headline top">
        <span class="identifier"><%= "#{@ticket.project.abbreviation}-#{@ticket.id}" %></span>
        <span class="title"><%= @ticket.title %></span>
        <span class="actions"><%= link_to t("edit"), edit_ticket_path(@ticket), :class => "button" %></span>
      </div>
      <div class="body">
        <p><%= markup_to_html(@ticket.description) %></p>
      </div>

      <div class="highlight tag-list bottom">
        <%= render :partial => "tags", :locals => { :ticket => @ticket } %>
      </div>
    </div>
    <br style="clear: left" />
  </div>

  <% @ticket.comments.each do |comment| %>
    <div class="with-author">
      <%= render :partial => "shared/user", :object => comment.user %>

      <div id="comment-<%= comment.id %>" class="comment box">
        <div class="highlight top">
          <div class="description">
            <%= comment.user.name %> wrote:
          </div>
        </div>
        <div class="body">
          <%= markup_to_html(comment.body) %>
        </div>
      </div>
    </div>
    <br style="clear: left;">
  <% end %>

  <div class="with-author">
    <%= render :partial => "shared/user", :object => current_user %>
    <div class="box">
      <%= form_for([@ticket, @comment], :validate => true) do |f| %>
        <div class="highlight top">
          <p class="description">Leave a comment:</p>
        </div>
        <div class="body">
          <%= f.hidden_field :ticket_id %>
          <div class="description field">
            <%= f.text_area :body %>
          </div>
        </div>
        <div class="highlight bottom">
          <span class="actions"><%= f.submit %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
