<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.prohibited", :errors => pluralize(@project.errors.count, "error"), :object => "project") %></h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="ticket box">
    <div class="highlight headline top">
      <div class="field title">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="details">
      <div class="field">
        <%= f.label :abbreviation %>
        <%= f.text_field :abbreviation %>
      </div>
    </div>

    <div class="body">
      <p class="note"><%= t("markup_enabled") %></p>
      <div class="field description">
        <%= f.text_area :description %>
      </div>
    </div>
    <div class="highlight bottom">
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
