<div class="projects show box">
  <div class="highlight headline top">
    <span class="actions"><%= link_to t('projects.new'), new_project_path, :class => "button" %></span>
  </div>
  <% @projects.each do |project| %>
    <div id="project-<%= project.id %>" class="project details">
      <span class="abbreviation">
        <%= link_to project.abbreviation, project_path(project) %>
      </span>
      <span class="name">
        <%= link_to project.name, project_path(project) %>
      </span>
      <span class="grayed"><%= markup_to_html(trim(project.description, 3)) %></span>
    </div>
  <% end %>
  <div class="highlight">
  </div>
</div>
