<!DOCTYPE html>
<html>
<head>
  <title>Tyne - <%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>

  <%= javascript_tag "var flash_error = \"#{flash[:error]}\";" if flash[:error] %>
  <%= javascript_tag "var flash_notice = \"#{flash[:notice]}\";" if flash[:notice] %>
  <%= javascript_tag "var flash_warning = \"#{flash[:warning]}\";" if flash[:warning] %>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <div id="menu">
        <%= render :partial => "shared/menu" %>
      </div>

      <div id="user-area">
        <div id="details">
          <%= render :partial => "shared/logged_in" if current_user %>
          <%= render :partial => "shared/logged_out" unless current_user %>
        </div>
      </div>
    </div>

    <div id="page_info">
      <h1><%= title %></h1>
      <p><%= description %></p>
    </div>

    <div id="content">
      <% if content_for? :sidebar %>
        <div id="left">
          <%= yield :sidebar %>
        </div>
      <% end %>
      <% klass = content_for?(:sidebar) ? " two-column" : "" %>
      <div id="main" class="<%= klass %>">
        <%= yield %>
      </div>
      <br style="clear: left;" />
    </div>

    <div id="footer">
      <%= render :partial => "shared/footer" %>
    </div>
  </div>
</body>
</html>
